<% @companies.each do |company| %>
                <div class="Border_page" , style='font-weight: bold; margin-bottom: 10px; float: left; padding-bottom: 10px; border-bottom: dotted 1px red;hover {background: #2cdd46;'> 
                     <h3><%=company.c_name %></h2>
				     <p><%= company.c_description %></p>

				
			</div>
				
<% end %>
